* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  max-width: 400px;
  margin: 1rem auto;
  padding: 0;
  text-align: center;
  color: #ababab;
}

.search-form {
  margin: 0 auto;
  max-width: 400px;
}

.search-form input {
  width: calc(100% - 2rem);
  height: 38px;
  border-radius: 4px;
  border: 1px solid #ababab;
  font-size: 1.4rem;
  padding: 0 1rem;
  margin: 0 1rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}

.pagination .page-number {
  padding: 0.5rem;
}

.pagination .current-page {
  border-radius: 3px;
  background-color: #dde7a5;
}

ul {
  list-style-type: none;
  margin: 1rem;
}

ul li {
  padding: 0.5rem 1rem;
  display: flex;
  border-top: 1px solid #b7c4a7;
}

ul li .word {
  width: 50%;
}

@media (min-width: 900px) {
  ul li .word {
    width: 20%;
  }
}

ul li .word-definition {
  width: 100%;
}

ul li:nth-child(odd) {
  background-color: #fbfcf6;
}

.highlight {
  font-weight: bold;
}

.cursor-pointer {
  cursor: pointer;
}
